@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-blue: #0A2E76;
  --color-brand-cyan: #2976BB;
  --color-brand-green: #7DB73F;
  --font-logo: "Montserrat", sans-serif;
}
